#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Spelloff
GenericName=Spelloff
Comment=The orb ponderer's arena first-person shooter
Exec=spelloff
Icon=ar.net.covacha.spelloff
Type=Application
Categories=Game
